:root {
  --footer-gap: 16px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--c-black-lighter);
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--footer-gap);
  align-items: center;
  /* display: flex; */
  /* justify-content: space-between; */
}

.footer__floating-btn {
  position: fixed;
  right: 2.3rem;
  bottom: 6.4rem;
  height: 6rem;
  width: 6rem;
  border: 1px solid var(--c-white);
  background-color: #111;
  border-radius: 10px;
  z-index: 999;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.footer__social-medias {
  /* flex: 2; */
  grid-column: 1 / span 2;
  display: flex;
  gap: 24px;
}

.footer__form {
  grid-column: 4 / span 5;
  gap: var(--footer-gap);
  display: flex;
  align-items: center;
  /* flex: 5; */
}

.footer__input {
  flex: 3;
  height: 40px;
  border-radius: 50px;
  border: none;
  padding: 10px 16px;
  font-family: inherit;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
}

.footer__submit-btn {
  height: 40px;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__text {
  /* flex: 3; */
  grid-column: -4 / -1;
  color: #bebebe;
  font-size: 14px;
  line-height: 16px;
  align-self: flex-end;
}

.footer__container {
  grid-template-columns: repeat(12, 1fr);
}

@media only screen and (max-width: 1200px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
  }

  .footer__text {
    max-width: 30rem;
  }
}

@media only screen and (max-width: 1000px) {
  .footer__container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
  }
  .footer__form {
    order: -1;
    width: 100%;
    justify-content: center;
  }

  .footer__input {
    max-width: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .footer__container {
    flex-direction: column;
  }
  .footer__form {
    order: unset;
    max-width: 400px;
    display: block;
  }

  .footer__form > .footer__input,
  .footer__submit-btn {
    width: 100%;
    max-width: none;
    display: block;
  }

  .footer__input {
    margin-bottom: 16px;
  }

  .footer__text {
    align-self: center;
    max-width: fit-content;
  }

  .footer__floating-btn {
    right: 16px;
    bottom: 16px;
  }
}
