.container {
  max-width: calc(1280px + 2 * var(--app-padding));
  margin: 0 auto;
  padding: 0 8rem;
}

/* BUTTONS */
.btn {
  border-radius: 100px;
  padding: 2.4rem 4rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.16em;
  font-family: 'Gilroy Bold', sans-serif;
  background-color: #111111;
  color: var(--c-white);
}

.btn--white {
  background-color: var(--c-white);
  color: var(--c-black);
}

/* FONTS */
.f--sub {
  font-family: 'Gilroy Bold';
  font-size: var(--f-size-sub);
  line-height: 16px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  font-weight: 500;
}
