.hero {
  background-color: var(--c-black);
}

.hero__container {
  height: var(--app-height);
  max-height: calc(var(--app-height) - 88px);
}

.hero__rich-text {
  position: relative;
  padding-top: 20vh;
}

.hero__logo {
  max-height: 33px;
}

.hero__title {
  text-transform: uppercase;
  font-size: 5.6rem;
  line-height: 142%;
  letter-spacing: 0.4em;
  color: var(--c-white);
  font-family: 'Gilroy Regular';
  font-weight: 300;
  margin: 3.2rem 0 8rem;
  max-width: 67.6rem;
  z-index: 99;
  position: relative;
}

.hero__img {
  height: auto;
  width: calc(20rem + 20vw);
  max-width: 58rem;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 18vh;
}

/* AS SEEN IN */
.featured {
  padding: 4rem 0;
}

.featured__header {
  text-align: center;
  color: var(--c-grey);
}

.featured__brands {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.featured__brand-img {
  width: 100%;
}

/* MEDIA */
.media {
  padding: 3rem 0;
  height: 100vh;
  max-height: 86rem;
}

.media .media__container {
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: var(--app-padding) repeat(12, 1fr) var(--app-padding);
  gap: 16px;
  padding: 0;
  align-items: center;
}

.media1,
.media3 {
  background-color: var(--c-black-lighter);
}

.media2,
.media4 {
  background-color: var(--c-black-light);
}

.media__img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  grid-row: 1;
  grid-column: 6 / -1;
}

.media__rich-text {
  background-color: var(--c-white);
  z-index: 99;
  grid-column: 1 / 7;
  grid-row: 1;
  padding: 8.5rem var(--app-padding) 17.5rem;
}

.media--reversed .media__img {
  grid-row: 1;
  grid-column: 1 / 10;
}

.media--reversed .media__rich-text {
  grid-column: 9 / -1;
  grid-row: 1;
}

.media__title {
  font-size: 3.2rem;
  text-transform: uppercase;
  line-height: 40px;
  letter-spacing: 0.16em;
  font-family: 'Gilroy Bold';
  font-weight: 500;
}

.media__desc {
  font-family: 'Gilroy Regular';
  font-size: 16px;
  line-height: 24px;
  color: #404042;
  margin: 2.4rem 0 4rem;
}

/* MEDIA 50x50 */

.media50 .media__container {
  padding: 0;
  display: flex;
  align-items: center;
}

.media50 .media__img,
.media50 .media__rich-text {
  width: 50%;
  height: auto;
}

.media50 .media__img {
  object-fit: cover;
  align-self: stretch;
}

.media50 .media__rich-text {
  background-color: var(--c-black-lighter);
  text-align: center;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.media50 .media__title,
.media50 .media__desc {
  margin-left: auto;
  margin-right: auto;
  color: var(--c-white);
  max-width: 45rem;
}

/* MEDIA SLIDER */
.media-slider {
  padding: 3rem 0;
  max-height: 68rem;
}

.media-slider .media-slider__scrollbar {
  height: 1px !important;
  bottom: 2.3rem !important;
  background-color: var(--c-white-accent);
  max-width: 68rem;
  left: 50% !important;
  transform: translateX(-50%);
  z-index: 999;
}

.media-slider__scrollbar .swiper-scrollbar-drag {
  background-color: var(--c-black);
}

.media-slider__slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media-slider__play-btn {
  position: absolute;
}

.media-slider__slide > .media-slide__img {
  max-height: 62rem;
  width: 100%;
  object-fit: cover;
}

/* PRODUCTS */
.products__container {
  padding-top: 32px;
  padding-bottom: 52px;
  display: flex;
  gap: 16px;
}

/* QUOTE */
.quote {
  background-color: var(--c-black-lighter);
}
.quote__title {
  font-size: 2.8rem;
  line-height: 140%;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  text-align: center;
  max-width: 80rem;
  color: var(--c-white);
}

.qoute__author {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-top: 4rem;
  color: #bebebe;
}

.quote__container {
  height: 100vh;
  max-height: 56.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

/* IMAGE BANNER */

.image-banner {
  background-color: var(--c-black-light);
}
.image-banner__container {
  padding: 0;
}

.image-banner__image {
  width: 100%;
  height: 100vh;
  max-height: 55rem;
  object-position: center 90%;
  object-fit: cover;
  display: block;
}

/* INFO */
.info__container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 7rem;
  padding-bottom: 5rem;
  gap: 7.7rem;
}

.info__box {
  max-width: 24.5rem;
}

.info__title {
  font-family: 'Gilroy Bold';
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  font-weight: 500;
}

.info__text {
  font-size: 16px;
  line-height: 24px;
  color: #404042;
  margin: 8px 0;
}

@media (min-height: 1200px) {
  .hero__container {
    max-height: 1400px;
  }
}

@media only screen and (max-width: 1000px) and (min-height: 900px) {
  .hero {
    max-height: 750px;
  }
}

@media only screen and (max-width: 1000px) {
  .hero {
    min-height: 60rem;
  }
  .hero__title {
    font-size: 4.2rem;
  }

  .featured__brand-item {
    flex-basis: 20%;
  }

  .featured__brands {
    flex-wrap: wrap;
    justify-content: center;
  }

  .media__rich-text {
    padding: 6rem var(--app-padding) 9rem;
  }

  .products__container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
  }

  .product {
    flex-basis: 300px;
  }

  .product .product__btn {
    width: 100%;
    max-width: none;
  }

  .info__container {
    gap: 0 4rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
  }

  .info__box {
    max-width: max-content;
    flex-basis: 250px;
    padding: 40px 0;
    border-bottom: 1px solid #f3f3f5;
  }
}

@media only screen and (max-width: 700px) {
  .hero__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 762px;
  }
  .hero__rich-text {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    padding: 4rem 0;
  }

  .hero__title {
    text-align: center;
    margin: 5rem 0 3rem;
  }

  .hero__img {
    position: static;
    max-height: 30vh;
    object-fit: contain;
  }

  .media {
    padding: 0;
    height: auto;
    max-height: max-content;
  }

  .media .media__container {
    display: flex;
    gap: 0;
    flex-direction: column;
  }

  .media .media__img {
    order: -1;
    height: 400px;
  }

  .media50 .media__container {
    flex-direction: column;
  }

  .media50 .media__img {
    height: 400px;
    width: 100%;
  }

  .media50 .media__rich-text,
  .media50 .media__title,
  .media50 .media__desc {
    width: 100%;
    max-width: 600px;
  }
}

@media only screen and (max-width: 600px) {
  .hero__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: max-content;
  }
  .hero__title {
    font-size: 3rem;
  }
  .featured__container {
    padding: 0;
  }

  .product .product__btn {
    border-radius: 0;
    margin-top: 20px;
  }

  .media-slide__img,
  .media-slider__wrapper {
    height: 100%;
  }

  .media-slider__container {
    padding: 0;
    height: 240px;
  }

  .quote__container {
    height: auto;
  }

  .info__box:last-child {
    border: none;
  }

  .info__box:not(:last-child) {
    border-bottom: 1px solid #f3f3f5;
  }
}

@media only screen and (max-width: 450px) {
  .hero__container {
    min-height: 700px;
  }
  .hero__rich-text {
    padding: 3rem 0;
    height: 100%;
    justify-content: space-between;
  }

  .hero__logo {
    margin: 7rem 0 0;
  }

  .hero__img {
    width: 100%;
    max-width: 320px;
  }

  .hero__title {
    margin: 0;
  }

  .hero__btn {
    width: 100%;
  }

  .product {
    width: 100%;
    flex-basis: auto;
  }
}
